Repository debianmaster/actions-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: APISERVER, MANAGER, AGENT, ROOT, WORKFLOWS

.github/labeler.yml:

APISERVER:
  - ./cmd/server/**/*
  - ./build/Dockerfile.server
MANAGER:
  - ./cmd/manager/**/*
  - ./build/Dockerfile
AGENT:
  - ./cmd/agent/**/*
ROOT:
  - ./*
WORKFLOWS:  
  - .github/workflows/*

Create test.txt
  cmd/server/test.txt
Labels: APISERVER

Create Dockerfile.server
  build/Dockerfile.server
Labels: APISERVER

Create test
  cmd/manager/test
Labels: MANAGER

Create Dockerfile
  build/Dockerfile
Labels: MANAGER

Create test
  cmd/agent/test
Labels: AGENT

Update Dockerfile
  build/Dockerfile
Labels: MANAGER

Update test
  cmd/manager/test
Labels: MANAGER

Update test
  cmd/manager/test
Labels: MANAGER

Update test
  test
Labels: ROOT

Update test
  test
Labels: ROOT

Create CODEOWNERS
  CODEOWNERS
Labels: ROOT

Create README.md
  README.md
Labels: ROOT

Update and rename test to test.txt
  cmd/agent/test
  cmd/agent/test.txt
Labels: AGENT
